# Node.js
node_modules/
npm-debug.log
package-lock.json

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Swagger Editor
.editorconfig

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/

# Miscellaneous
*.swp
*.swo
*.bak
*.tmp
*.temp
*.log

# Ignore swagger.yaml changes
!swagger.yaml